listen={{ ftp_listen }}
local_enable={{ local_enable }}
write_enable={{ write_enable }}

anonymous_enable={{ anonymous_enable }}
anon_root={{ anon_root_path }}
no_anon_password={{ nopwd }}
anon_upload_enable={{ upload_enable }}
